#
# .gitignore for haskell projects
#
# G. Wright, 20 July 2015
#

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.dir-locals.el
*.dyn_o
*.dyn_hi
*.dump-simpl
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
/*.pdf
/*.png
/*.prof
/*.ps
/*.svg
*.html
*.aux
*.hp
.stack-work/
.DS_Store
*.dSYM/
\#*
*~
